@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.wrapper {
    margin-inline: auto;
    width: min(90%, 65rem) !important;
}